.cool-input {
  display: block;
  background-color: transparent;
  outline: none;
  border: #bb86fc solid 2px;
  border-radius: 3px;
  color: #fff;
  font-size: 1.1em;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.cool-input.secondary {
  border: #03dac6 solid 2px;
}

.cool-input.black::placeholder {
  color: rgb(83, 83, 83);
  opacity: 1; /* Firefox */
}

.cool-input.black:-ms-input-placeholder {
  color: rgb(83, 83, 83);
}

.cool-input.black::-ms-input-placeholder {
  color: rgb(83, 83, 83);
}

.cool-input.black {
  color: #000;
}

.cool-input:focus {
  transform: scale(1.1);
}
